extend layout.pug

block insert_script_head
    if data.desc_literal 
        meta(name="description" content="本網站僅供學習用途 / " + data.desc_literal.slice(0,25))
        meta(property="og:description", content="本網站僅供學習用途 / " + data.desc_literal.slice(0,25))
    else 
        meta(name="description" content="本網站僅供學習用途" )
        meta(property="og:description", content="本網站僅供學習用途")
    meta(property="og:title", content= title )
    meta(property="og:url", content=originalUrl)
    meta(property="og:image", content=hostname+data.cover_image)

    script(src="/static/javascripts/vue.min.js")
    script.
        let page_data = !{JSON.stringify(data)}

block content
    #fb-root
    script(async=true, 
           defer=true, 
           crossorigin='anonymous', 
           src='https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v5.0')
    main#content
        .container-md
            transition(name="vue_slide_up",
                       appear='')
                .pure-g.pure-g--disable-pd(style="visibility : hidden" , 
                                           :class="{'visibility-visible' : vue_mounted}",
                                           v-show="vue_mounted")
                    figure.pure-u-1
                        .infoBlock
                            .coverBox
                                .coverBox__coverBox(style='top:'+data.cover_image_offset_y)
                                    img.coverBox__coverBox__coverImg(src=data.cover_image)
                            nav.menu.menu--horizontal.stickyMenu--1.lh-50.menu--contrast
                                ul.menu__list.reset-ul(@click.prevent="scrollToBlockByHash($event)")
                                    li.menu__item.spreadBorderBottom.spreadBorder--coarse
                                        a.menu__link(href='#anchor-info')
                                            | 資訊
                                    li.menu__item.spreadBorderBottom.spreadBorder--coarse
                                        a.menu__link(href='#anchor-facebook')
                                            | 留言
                            article#anchor-info.block.f_size-lg.f_size-lg-pad.bg-contrast
                                header.block__head.bg-contrast
                                    h1.block__head__title='活動 / ' + data.title
                                    span.block__head__subDesc=' / ' + data.type
                                section.block__body
                                    .block__item__article
                                        p='開始： ' + moment(data.start_time).format('YYYY/MM/DD HH:mm')
                                        p='結束： ' + moment(data.end_time).format('YYYY/MM/DD HH:mm')
                                        p='地點： ' + data.location
                                    article.block__item__userCustomDesc
                                        | !{data.description}
                                
                            section#anchor-facebook.block.bg-contrast
                                .fb-like(data-href=host + "/event/" + data._id, data-width='200px', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                                .fb-comments(data-href=host + "/event/" + data._id, data-width='150px', data-numposts='5')
        nav.fixButtonGroup(style='z-index: 9998;')
            if isOwner
                cue1(href='/event/edit/'+data._id)  
            cue0

block foot_script
    script(src='/static/javascripts/control_event.js')