extend layout.pug
block page_head
    script(src="/static/javascripts/vue.min.js")
    script(src="/static/javascripts/vee-validate.full.min.js")
    script(src="/static/javascripts/validator_setting.js")
    script(src="/static/javascripts/grecaptcha.js")

block content
    script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"', async, defer,  onerror="onerrorCallback()")

    main#content
        section.container-sm.max-width-400   
            .pure-g
                .pure-u-1
                    validation-observer(v-slot='obs')
                        form.block.bg-contrast(action='/account/forgetpassword' method='post', autocomplete='off', @submit.prevent = "submitIfPassed($event,obs)")
                            input(type="text" name="gr" value="" hidden='hidden', tab-index="-1")
                            header.block__head
                                i.material-icons.block__head__icon mode_edit
                                h4.block__head__title 忘記密碼
                            if errors
                                for error in errors
                                    p.msgBox.msgBox--alert=error.msg

                            .form__body.form__body--unitSub
                                .form__group
                                    validation-provider(rules='required',v-slot='vee', name="帳號", key='account')
                                        .form__flexLine(:class="vee.classes")
                                            span.form__subject.form--required  帳號： 
                                            .form__flexLine__inputBox.flex-1 
                                                input.form__input.flex-1#account(type='text', 
                                                                                 name='account', 
                                                                                 placeholder="輸入您的帳號",
                                                                                 autocomplete= 'off',
                                                                                 v-model='account')
                                                .form__flexLine__inputBox__activeBorder
                                            span.form__msg(v-if='vee.failed') {{ vee.errors[0] }}
                                    validation-provider(rules='required|email',v-slot='vee', name="Email", key='email')
                                        .form__flexLine(:class="vee.classes")
                                            span.form__subject.form--required  Email： 
                                            .form__flexLine__inputBox.flex-1 
                                                input.form__input.flex-1t#email(type='email', 
                                                                                name='email', 
                                                                                placeholder="請輸入建立帳號時使用的Email",
                                                                                autocomplete= 'off',
                                                                                v-model='email')
                                                .form__flexLine__inputBox__activeBorder
                                            span.form__msg(v-if='vee.failed') {{ vee.errors[0] }}
                                    .form__line(v-if="isSoSmallSize")
                                        div(class="g-recaptcha",
                                            data-sitekey='6LdXWdEUAAAAADX8qqDFig7mlIN_l5KZ6nwyUAOX',
                                            data-callback='recapCallback'
                                            data-size="compact")
                                    .form__line(v-else)
                                        div(class="g-recaptcha",
                                            data-sitekey='6LdXWdEUAAAAADX8qqDFig7mlIN_l5KZ6nwyUAOX',
                                            data-callback='recapCallback')
                                    .form__line
                                        button.form__button.form__button--lightup.w-full(type='submit') 送出
        
block foot_script
    script(src='/static/javascripts/forget_password.js')

