extend layout.pug
block page_head
    script(src="/static/javascripts/vue.min.js")
    script(src="/static/javascripts/vee-validate.full.min.js")
    script(src="/static/javascripts/validator_setting.js")

block content
    main#content
        section.container-sm.max-width-400   
            .pure-g
                .pure-u-1
                    validation-observer(v-slot='obs')
                        form.block.bg-contrast(action='/account/resetpassword' method='post', autocomplete='off', @submit.prevent = "submitIfPassed($event,obs)")
                            header.block__head
                                i.material-icons.block__head__icon mode_edit
                                h4.block__head__title 重設密碼
                            if errors
                                for error in errors
                                    p.msgBox.msgBox--alert=error.msg
                            .form__body.form__body--unitSub
                                .form__group
                                    validation-observer
                                        validation-provider(rules='required',v-slot='vee', name="新密碼", key='password')
                                            .form__flexLine(:class="vee.classes")
                                                span.form__subject.form--required  輸入新的密碼：
                                                .form__flexLine__inputBox.flex-1  
                                                    input.form__input.flex-1#password(type='password', 
                                                                                      name='password', 
                                                                                      placeholder="設定新的密碼",
                                                                                      autocomplete= 'off',
                                                                                      v-model='password')
                                                    .form__flexLine__inputBox__activeBorder
                                                span.form__msg(v-if='vee.failed') {{ vee.errors[0] }}
                                        validation-provider(rules='required|isEqualTo:@新密碼',v-slot='vee', name="再次輸入密碼", key='password_check')
                                            .form__flexLine(:class="vee.classes")
                                                span.form__subject.form--required  再次輸入密碼：
                                                .form__flexLine__inputBox.flex-1  
                                                    input.form__input.flex-1#password_check(type='password', 
                                                                                            name='password_check', 
                                                                                            placeholder="請再次輸入密碼",
                                                                                            autocomplete= 'off',
                                                                                            v-model= 'password_check')
                                                    .form__flexLine__inputBox__activeBorder
                                                span.form__msg(v-if='vee.failed') {{ vee.errors[0] }}
                                    .form__line
                                        button.form__button.form__button--lightup.w-full(type='submit') 確認

block foot_script
    script(src='/static/javascripts/resetpassword.js')